<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="com.itemis.mbse4me.dsls" sequenceNumber="1720182706">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.32.0.v20240601-0610"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.3.v20221116-1811"/>
      <repository location="https://download.eclipse.org/releases/2024-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.18.0.v20240525-1058"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.18.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.35.0.v20240528-1523"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.35.0.v20240528-1523"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.35.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.compress" version="1.22.0.v20221207-1049"/>
      <unit id="org.apache.poi" version="4.1.1.v20221112-0806"/>
      <unit id="org.apache.poi.ooxml" version="4.1.1.v20221112-0806"/>
      <unit id="org.apache.poi.ooxml.schemas" version="4.1.1.v20221112-0806"/>
      <unit id="org.apache.xmlbeans" version="3.1.0.v20221112-0806"/>
      <repository id="eclipse-orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sourceforge.plantuml.eclipse" version="1.1.32.202405281552"/>
      <repository location="http://hallvard.github.io/plantuml/"/>
    </location>
  </locations>
</target>
